html {
    /*background-image: url("~/Content/images/home-image.jpg");*/
}
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.readonly 
.select2{
    max-width: 280px;
    min-width: 132px;
}

.DisplayNone {
    display: none;
}

.AjaxForm {
    border: black solid 1px;
    border-radius: 5px;
    background-color: #c4c4c4;
    margin: 7px 0;
}

.InQurantine {
    background-color: #FFDBDB;
}

.addProd {
    background-color: #F7F7F7;
    padding: 7px;
    border: 1px solid #C4C4C4;
    margin-bottom: 10px;
}

.dlGestation {
    background-color: #f5f5f5;
    margin: 5px 0 10px 0;
    padding: 6px;
    border: black solid 1px;
}
.title-herd {
    background-color: #E8F8E8;
    border: 1px solid #E2E2E2;
    padding: 3px;
}
.liste {
    background-color: #F5F6CE;
    border: 1px solid #E2E2E2;
}
.dary-info {
    padding: 8px;
    background-color: #e85800;
    font-size: 12px;
}
.divDisease {
    background-color: #E0F8F7;
    border: 1px solid #E2E2E2;
    padding: 8px 0;
    margin-bottom: 5px;
}
.divDeGestation {
    background-color: #E3F6CE;
    border: 1px solid #E2E2E2;
    padding: 8px 0;
    margin-bottom: 5px;
}

