@{ Layout = null;}
<div id="dialogContent" title="This is a dialog box" style="display: none">
    <p>Faut créer un nouveau troupeau</p>

    <form action="#" method="post" id="editForm">
        <label id="IdCattleTypeDialog"></label>
        <input type="text" id="MaxAnimals" name="MaxAnimals" placeholder="maxAnimals" />
        <input type="text" id="Label" name="Label" placeholder="label" />
        <input id="btnCreateHerd" type="button" value="Create Herd" class="btn btn-default" />
        <label id="idMsgError"></label>
    </form>
</div>
